body {
  margin: 0;
  padding: 0;
}
.slide {
  width: 105vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 420vw;
 
}
.one {
  color: black;
  background: white;
}


.two {
  color: white;
  background: black;
}

.two a{
  color: orange;

}





.three {
  color: black;
  background: white;
}


.four {
  color: #ffffff;
  background: black;
}


.hello h1{
  font-family: 'Playfair Display', serif;
  font-size: 6vw;

}

.hello h2{
  font-family: 'Playfair Display', serif;
  font-size: 4vw;

}

.hello h3{
  font-family: 'Playfair Display', serif;
  font-size: 2vw;

}

.four a {
  color:white;

}

.four a:hover {
  color:white;
  
}

.right {

  max-width: 3vw;
  height: auto;
  opacity: 1;
  cursor: pointer;

}

.right2 {

  filter: invert(1);
  max-width: 3vw;
  height: auto;
  opacity: 1;
  cursor: pointer;
}

.left {

  max-width: 3vw;
  height: auto;
  opacity: 1;
  filter: invert(1);
  cursor: pointer;
  transform: rotate(180deg);
}

.myface {
  filter: grayscale(100%);
  max-width: 18vw;
  height: auto;
  opacity: 1;

}



