body {
  margin: 0;
  padding: 0;
}
.slide {
  width: 110vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 420vw;
 
}
.one {
  background: #ffffff;
}


.two {
  color: white;
  background: #000000;
}

.two a{
  color: #a1caf1;

}





.three {
  color: #202020;
  background: #a1caf1;
}


.four {
  color: #ffffff;
  background: #202020;
}


.hello h1{
  font-family: 'Playfair Display', serif;
  font-size: 6vw;

}

.hello h2{
  font-family: 'Playfair Display', serif;
  font-size: 4vw;

}

.hello h3{
  font-family: 'Playfair Display', serif;
  font-size: 2vw;

}

.four a {
  color:white;

}

.four a:hover {
  color:white;
  
}

.right {

  max-width: 3vw;
  height: auto;
  opacity: 1;
  cursor: pointer;

}

.right2 {

  max-width: 3vw;
  height: auto;
  opacity: 1;
  filter: invert(1);
  cursor: pointer;
}

.left {

  max-width: 3vw;
  height: auto;
  opacity: 1;
  filter: invert(1);
  cursor: pointer;
  transform: rotate(180deg);
}

.myface {
  filter: grayscale(100%);
  max-width: 18vw;
  height: auto;
  opacity: 1;

}



